node_modules
dist-ssr
*.local
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Base de datos
*.sqlite
*.db
*.sqlite3
*.sqlite-shm
*.sqlite-wal